{
  "api_url": "https://www.dareboost.com/api/0.5/",
  "analysis": {
    "shared": {
      "lang": "fr",
      "visualMetrics": true,
      "isPrivate": true
    },
    "list": [
      {
        "url": "http://www.google.com"
      },
      {
        "url": "http://www.amazon.com",
        "lang": "en"
      }
    ]
  }
}
